notifications:
  email: false
language: julia
os:
  - linux
env:
  - PYTHON="" CONDA_JL_VERSION=3
matrix:
  include:
    - julia: 0.6
      script:
        - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
        - julia -e 'Pkg.clone(pwd())'
        - julia -e 'Pkg.build("HartreeFockBogoliubov")'
        - julia -e 'Pkg.test("HartreeFockBogoliubov", coverage=true)'
      after_success:
        - julia -e 'cd(Pkg.dir("HartreeFockBogoliubov")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
    - julia: 0.7
      script:
        - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
        - julia --project -e 'import Pkg; Pkg.build("Conda")' 
        - julia --project -e 'import Pkg; Pkg.build("PyCall"); import PyCall'
        - julia --project -e 'import Pkg; Pkg.build()'
        - julia --project --check-bounds=yes -e 'import Pkg; Pkg.test(; coverage=true)'
          #- julia --project -e 'import Pkg; Pkg.test("HartreeFockBogoliubov", coverage=true)'
      after_success:
        - julia --project -e 'import Pkg; cd(Pkg.dir("HartreeFockBogoliubov")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
        - julia --project -e 'import Pkg; Pkg.add("Documenter"); include(joinpath("docs", "make.jl"))'
          #- julia --project -e 'import Pkg; Pkg.add("Documenter")'
    - julia: nightly
      script:
        - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
        - julia -e 'import Pkg; Pkg.build()'
        - julia -e 'import Pkg; Pkg.test("HartreeFockBogoliubov", coverage=true)'
      after_success:
        - julia -e 'import Pkg; cd(Pkg.dir("HartreeFockBogoliubov")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
